*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and Navigation Styles*/

nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
}

.nav-title
{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-left: 50px; 
}

.text-primary {
    color: #FD6E0A;
}

.button-primary{
    color: #FFFFFF;
    font-weight:700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background-color: #FD6E0A;

}

.header{
    background: #FFF8F3;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    width: 1800px;
    height: 808px;
    left: 1600px;
    top: 808px;
    
}

/* Styles For Banner */

.banner{
    display: flex;
    align-items: right;
    margin: 0 200px;
}

.banner-title{
    position: absolute;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    width: 525px;
    height: 228px;
    top: 216px;
    left: 845px;
}

.banner-discription{
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.button-primary-01{
    color: #FFFFFF;
    font-weight:700;
    font-size: 20px;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    border: 0;
    padding: 18px 20px;
    height: 64px;
    border-radius: 10px;
    background-color: #FD6E0A;
    

}


/* Section Image and Failure */
.PhotoImg{
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.failureHead{
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
    text-align: right;
    
}

.font-failureHead
{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}

.font-failure-discription{

    position: absolute;
    width: 416px;
    height: 400px;
    left: 1035px;
    top: 1320px;
    text-align: left;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
 
/* My Plan */
.about{

   
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
 }
 .section-title{
    text-align: center;
    margin-top: 850px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
 }

 .plan-container
 {
    align-items: center;
    margin:0 200px;
    display: flex;
    gap: 24px;
 }

 .Goal{
    padding: 30px;
 }

 .Goal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
 }

 .Goal-description
 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
 }


 /* Color For Hand-Watch Pic */

 .watch-container
 {
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 340px;
    top: 2222.26px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    /* background-image: url('../images/watch.png'); */
    border-radius: 8px;
 }

 .watch-gradient{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 340px;
    top: 2222.26px;
    border-radius: 8px;
 }

 .heading-watch{

    padding: 60px 500px 60px 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;

 }

 .call-now-button
 {
    
        color: #FD6E0A;
        font-weight:700;
        font-size: 20px;
        border: 0;
        padding: 18px 35px;
        height: 64px;
        border-radius: 10px;
        background-color: #FFFFFF;

    
 }

 .pos{
    left: 154px;
    top: 200.26px;
    position: absolute;
 }


 /* Feature Design */

 .feature-container
 {
    position: absolute;
    width: 1800px;
    height: 577px;
    left: 0px;
    top: 2652.26px;
    background: #151414;
 }

 .Contact-Head{
    position: absolute;
    font-family: 'Work Sans';
    width: 494px;
    height: 78px;
    left: 200px;
    top: 128px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 53px;
    color: #f5f5f5;
 }

 .contact-description{

    position: absolute;
    font-family: 'Work Sans';
    width: 494px;
    height: 78px;
    left: 200px;
    top: 210px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #f5f5f5;
 }

 .Email-description
 {
    position: absolute;
    font-family: 'Work Sans';
    width: 494px;
    height: 78px;
    left: 200px;
    top: 330px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #f5f5f5;
 }

 .phone-description{
    position: absolute;
    font-family: 'Work Sans';
    width: 494px;
    height: 78px;
    left: 200px;
    top: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #f5f5f5;
 }

 a{
    text-decoration: none;
 }

 .position-future{
    position: absolute;
    left: 200px;
    top: 400px;
 }

 .position-form{
   

 }

 .head-sub
 {
    position: absolute;
    left: 1350px;
    top: 128px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 29px;

    color: #FFFFFF;
 }
 form{
    position: absolute;
    left: 1350px;
    top: 180px;

 }

 input{
    margin-bottom: 24px;
    border: 0;
    width: 50%;
    padding:18px 30px ;
    font-size: 25px;
 }

 .Subscribe-button{

    color: #FD6E0A;
        font-weight:700;
        font-size: 20px;
        border: 10;
        padding: 18px 35px;
        height: 64px;
        border-radius: 10px;
        background-color: #FFFFFF;

 }


